<%= content_for :mailer_title do %>
  Daily Status
<% end %>

<%= content_for :header_greeting do %>
  Daily Status
<% end %>


<tr>
  <td>
    <h3 style="color: #1D446E; font-family: Helvetica; font-weight: 100; font-size: 24px; line-height: 25px; margin:0; padding:5px 0;">
        Here is your daily garden status:
    </h3>
    <hr style="width:60px;margin-left: 0;border:1px solid #438E93; margin-bottom: 20px;"/>
    <% @user.garden_plants.each do |plant| %>
      <div class="email-card" style="padding: 28px 22px; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
        <h3 style="margin-top: 0;"><%= plant.name %></h3>
        <p><%= plant.location %></p>
        <div class="email-icons" style="display: flex; justify-content: space-between;">
          <div class="plant-info" style="display: flex; align-items: center;">

            <%= image_tag attachments["Temp.png"].url, { width: "10", border: "0", alt: "Temperature", style: "margin-right: 7px;" }  %>
            <span>
              <%= plant.status_today.daily_temp %>
            </span>
          </div>

          <div class="plant-info" style="display: flex; align-items: center;">
            <%= image_tag attachments["Light.png"].url, { width: "10", border: "0", alt: "Light", style: " margin-right: 7px;" } %>

            <span>
              <%= plant.status_today.daily_light %>
            </span>
          </div>

          <div class="plant-info" style="display: flex; align-items: center;">
            <%= image_tag attachments["Watering.png"].url, { width: "10", border: "0", alt: "Watering", style: " margin-right: 7px;" } %>
            <span>
              <%= plant.water_on.strftime("%d/%m/%y") %>
            </span>
          </div>

        </div>
      </div>
    <% end  %>
  </td>
</tr>


