
<div class="visible-xs-block navbar-bottom">

  <ul>
    <li><%= link_to root_path do %>
          <% if current_page?(root_path) %>
            <%= image_tag "icon_loupe-black.png", height: 40 %>
          <% else %>
            <%= image_tag "icon_loupe.png", height: 40 %>
          <% end %>
        <% end %>
      </li>
    <li>
      <%= link_to garden_plants_path do %>
          <% if current_page?(garden_plants_path) %>
            <%= image_tag "icon_plants_black.png", height: 40 %>
          <% else %>
            <%=  image_tag "icon_plants.png", height: 40 %>
          <% end %>
        <% end %>
    </li>
    <li>
      <%= link_to plant_watering_path(@plant) do %>
      <%= image_tag "icon_watering.png", height: 40, class: "active-watering" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
      <%= image_tag "icon_envalope.png", height: 40, class: "active-loupe" %>
      <% end %>
      </li>
  </ul>
</div>

