

  <!-- Top Navbar (Web) -->
<div class="navbar-top navbar-fixed-top">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>
  <div class="show-xs show-sm">
    <% if user_signed_in? %>
      <% unless current_page?(new_user_session_path) %>
        <%= link_to destroy_user_session_path, class: "navbar-item",  method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
        <% end %>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item" %>
      <% end %>
    <% end %>
  </div>


  <% if user_signed_in? %>
    <div class="hidden-xs hidden-sm">
      <% unless current_page?(root_path) %>
        <div class="nav-search-bar">
          <%= form_tag plants_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class:  "navbar-search",
              placeholder: "What do you want to grow?"
            %>
            <button name="button" type="submit">Grow</button>
          <% end %>
        </div>
      <% end %>
      <div class="navbar-links">
        <%= link_to "Watering", "#", class: "navbar-item" %>
        <%= link_to "My Garden", "#", class: "navbar-item" %>
        <%= link_to "Calendar", "#", class: "navbar-item" %>

        <%= link_to destroy_user_session_path, class: "navbar-item",  method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
        <% end %>
      <% else %>
        <% unless current_page?(new_user_session_path) %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

