<div class="plant-picture">
  <% if @plant.photos %>
  <%= cl_image_tag(@plant.photos) %>
<% else %>
  <%= image_tag "basil-herb-2.jpg" %>
  <% end %>
  <%= link_to new_plant_garden_plant_path(@plant) do %>
  <i class="fas fa-plus plus"></i>
  <% end %>
</div>
<div id="header-plant"><h2><%= @plant.name %></h2></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="requirements">
        <div class="plant-requirement">
          <%= image_tag "Light.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Light</p>
            <p>Partial Shade</p>
          </div>
        </div>
        <div class="plant-requirement">
          <%= image_tag "Temp.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Temp</p>
            <p>Warm and dry</p>
          </div>
        </div>
        <div class="plant-requirement">
          <%= image_tag "Container.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Containers</p>
            <p>Not relevant</p>
          </div>
        </div>
      </div>

      <div class="requirements">
        <div class="plant-requirement">
          <%= image_tag "Difficulty.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Difficulty</p>
            <p>Not hard</p>
          </div>
        </div>
        <div class="plant-requirement">
          <%= image_tag "Watering.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Watering</p>
            <p>Daily</p>
          </div>
        </div>
        <div class="plant-requirement">
          <%= image_tag "Use.png", class: "needs-icon" %>
          <div class="plant-needs">
            <p>Uses</p>
            <p>Cooking | Salad | Sauce</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="plant-description">
        <p id="plant-seediling-needs">
          <%= @plant.short_description %>
        </p>
      </div>
    </div>
  </div>
</div>
<%= link_to "Add to Your Garden", new_plant_garden_plant_path(@plant), class: 'hidden-xs hidden-md' %>
<br>
<div class="back-btn">
  <button class="btn-pink" onclick="javascript:history.back()">back</button>
</div>


