<h1>My Garden Plants</h1>

<% @garden_plant.each do |garden| %>
  <h4> <%= garden.plant.name %></h4>
  <h6>Requirements</h6>
  <ul>
 <li> <%= garden.plant.requirement.light %></li>
  <li> <%= garden.plant.requirement.temperature %></li>
   <li> <%=garden.plant.requirement.watering  %></li>

  <%= link_to "remove plant", garden_plant_path(garden), method: :delete, class: "btn btn-danger" %>
  <br>
  </ul>
<% end %>

<br>
<%= link_to "Home Page",  root_path , class: "btn btn-primary" %>
