<h2 class="header-garden">My Garden</h2>

  <div class="row">

    <% @garden_plants.each do |garden| %>
    <div class="card-space">
      <div class="col-xs-6">
        <div class="centered">
          <div class="full-card">
            <%= cl_image_tag("#{garden.plant.photos}") %>
            <div class="darker"></div>
            <div class="plant-infos">
              <div class="plant-name">
                <p><%= garden.plant.name %></p>
              </div>
              <div class="statuses">
                <div class="status">
                  <p>Planted on
                  <%= "#{garden.created_at.day}/#{garden.created_at.month}/#{garden.created_at.year}"%>
                  </p>
                </div>
              </div>
            </div>
            <div class="buttons-garden">
              <div class="btn-pink smaller-btn">
                <%= link_to "Status", my_garden_plant_path(garden) %>
              </div>
              <div id="icon-trash">
                <%= link_to my_garden_plant_path(garden), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <%= image_tag "trash.png"%>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
   <% end %>
  </div>

