<div class="container">
  <h1>My Garden Plants</h1>
  <div class="row">
    <% @garden_plant.each do |garden| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card-garden-plant">
        <h3><%= garden.plant.name %></h3>
        <p>Requirements</p>
        <ul>
          <li><%= garden.plant.requirement.light %></li>
          <li><%= garden.plant.requirement.temperature %></li>
          <li><%=garden.plant.requirement.watering %></li>
          <%= link_to "remove plant", garden_plant_path(garden), method: :delete, class: "btn-yellow" %>
        </ul>
      </div>
    </div>
  <% end %>
  </div>
</div>






