<h1 id="header-garden">My Garden</h1>
<div class="container">
  <div class="row">
    <% @garden_plants.each do |garden| %>
      <div class="col-xs-6">

       <div class="full-card">

        <%= cl_image_tag("#{garden.plant.photos}") %>
          <div class="plant-infos">
            <div class="plant-name"><p><%= garden.plant.species.name %></p></div>

              <div class="statuses">
                <div class="watering"><p>Next watering</p>
                 <div class="date"><%=" In #{garden.water_on.day} days "%></div></div>
                <div class="status"><p>Planted on</p>.
               <div class="date1"><%=  "#{garden.created_at.day}/#{garden.created_at.month}/#{garden.created_at.year}"%></div></div>
              </div>
            </div>

                <div class="buttons-garden">
               <div class="col-xs-6">
            <%= link_to "Remove ", my_garden_plant_path(garden), method: :delete , class: 'btn-yellow'%>
          </div>
            <div class="col-xs-6">
                <%= link_to "Status", my_garden_plant_path(garden), method: :delete, class: 'btn-yellow' %>
              </div>
              </div>
              </div>


      </div>

   <% end %>
  </div>
</div>
