<%= render 'components/banner' %>
<div class="container">
  <section class="section-steps">
    <div class="row">
        <h2>How it works &ndash; Simple as 1, 2, 3</h2>
    </div>
    <div class="row">

      <div class="col span-1-of-2 steps-box animated">
        <%= image_tag "application_iphone.png", class: "app-screen" %>
      </div>
      <div class="col span-1-of-2 steps-box">
        <div class="work-step">
          <div class="step">1</div>
          <p class="description-steps">Search for the plants you want to grow and check its "Plant Guide"</p>
        </div>
        <div class="work-step">
          <div class="step">2</div>
          <p class="description-steps">Add the plants to your "Garden" dashboard and set its profile</p>
        </div>
        <div class="work-step">
          <div class="step">3</div>
          <p class="description-steps">Enjoy daily remainders about your plants needs</p>
        </div>
        <%= image_tag "download_android.png", height: 40, class: "btn-download" %>
        <%= image_tag "download_iphone.png", height: 40, class: "btn-download" %>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section class="section-categories">
      <h2 class="section-header">Browse Plants By Category</h2>
    <div class="row">
      <% @categories.each do |category| %>
      <%= render 'components/card', category: category %>
      <% end %>
    </div>
  </section>
</div>

