<h2 class="header-category"><%= @category.name %></h2>
<div class="row">
	<% @species.each do |specie| %>
  <%= link_to category_species_path(@category, specie) do %>
  <div class="col-xs-12 col-sm-4">
   <div class="card-description">
    <div class="card-imgg" style = "background-image: url(<%= image_path('Herbs.jpg')%>)"></div>
    <div class="card-description-info">
     <%= link_to "#{specie.name}" ,category_species_path(@category, specie)  %>
     <p><%=specie.description%></p>
   </div>
 </div>
</div>
<% end %>
<% end %>
</div>


<div class="top">
  <button class="btn-yellow" onclick="javascript:history.back()">back</button>

</div>

