<h1 class="h1">Species-<%= @category.name %></h1>
<div class="row">
	<% @species.each do |specie| %>
  	<div class="col-xs-12 col-sm-4">
			<div class="card-description">
				<div class="card-imgg" style = "background-image: url(<%= image_path('Herbs.jpg')%>)"></div>
        <%= link_to "#{specie.name}" ,category_species_path(@category, specie)  %>
				<div class="card-description-info">
					<h2><%=specie.name%></h2>
					<p><%=specie.description%></p>
				</div>
			</div>
		</div>
	<% end %>
</div>
<a class="test" href="javascript:history.back()" >back</a>
<button onclick="javascript:history.back()">back</button>

